.wrap{
    width: 1200px;
    margin: 0 auto;
}

.form-group{
    width: 900px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    box-sizing: border-box;
    display: inline-block;
}

.form-group1{
    width: 800px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: lightsteelblue;
}

input{
    width: 90%;
    padding: 0.6rem 1.5rem;
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.input[type=date]{
    width: 100px;
}

.yozuv{
    width: 900px;
    margin: 0 auto;
    border-top: 1px solid black;
    position: absolute;
    top: 90px;
    left: 360px;
}

.yozuv2{
    position: absolute;
    top: 256px;
    left: 760px;
}

.yozuv3{
    position: absolute;
    top: 414px;
    /*left: 760px;*/
}